@use '../../layout/layout';
@use '../../components/buttons' as button;

.contact-form {
    @include layout.default();
    padding: 0 0 var(--section-gap-inner) 0;
    background-color: var(--color-light-500);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 500px;
    }

    &__title {
        font-weight: 400;
        margin: 0;
        margin-bottom: 1.5rem;
    }

    &__image {
        max-width: 400px;
        height: auto;
    }
}

.sumbit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

}

@media screen and (max-width: 1024px) {
    .contact-form {

        &__content {
            max-width: 400px;
            margin-right: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-form {

        &__inner {
            flex-direction: column;
            gap: 3rem;
        }

        &__content {
            margin-right: 0;
        }
    }
    
}