@use '../../layout/layout';
@use '../../components/buttons' as button;

.hero {
    @include layout.default();
    background-color: var(--color-light-500);
    padding: 7rem 0 var(--section-gap-inner) 0;


    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        max-width: 670px;
    }

    &__title {
        margin: 0;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    &__text {
        margin: 0;
        margin-bottom: 3rem;
    }

    &__button {
        @include button.default();
    }

    &__image {
        
        img {
            height: auto;
            width: 438px;
        }
    }

}

@media screen and (max-width: 1024px) {
    .hero {

        &__content {
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 640px) {
    .hero {

        &__inner {
            flex-direction: column-reverse;
            gap: 3rem;
        }

        &__content {
            justify-content: center;
            display: flex;
            text-align: center;
            flex-direction: column;
        }
    }
    
}