:root {
  --font-serif: "Lora", serif;
  --font-sans: "Open Sans", sans-serif;
  --font-size: 16px;
  --font-scale: 1.25;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --font-size-small: calc( var(--font-size-1) / var(--font-scale));
  --line-height: 1.5;
  --color-light-400: #F8EDEB;
  --color-light-500: #F8C8C8;
  --color-dark-400: #170E08;
  --color-accent-400: #FCF9BE;
  --color-accent-500: #FFDCA9;
  --border-radius: 8px;
  --padding-content: 2rem;
  --section-gap: 10rem;
  --section-gap-inner: 4rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-small: 0.75rem;
  --inner-width: 71.5rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light-400);
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  font-family: var(--font-sans);
  line-height: var(--line-height);
  text-decoration: none;
}

p {
  line-height: var(--line-height);
  font-size: 1.25rem;
}

button {
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--font-size-4);
  }
  h2 {
    font-size: var(--font-size-3);
  }
  h3 {
    font-size: var(--font-size-2);
  }
  h4 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
}
blockquote {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea, input:not([type=submit], [type=checkbox], [type=radio]) {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-accent-500);
  margin-bottom: 2rem;
  font-size: var(--font-size-2);
  max-width: 100%;
  width: 100%;
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
}

label {
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  margin-bottom: 0.5rem;
  display: block;
}

textarea {
  margin-bottom: 3rem;
}

input[type=submit] {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
}
input[type=submit]:hover {
  background-color: var(--color-accent-400);
}

.seperator {
  height: 32px;
  width: 100%;
  background-image: url(src/assets/images/section-seperator.png);
  background-repeat: repeat-x;
}
.seperator--rotate {
  transform: rotate(180deg);
}

.site-header {
  display: grid;
  grid-template-columns: var(--grid-container);
  position: fixed;
  width: 100%;
  z-index: 998;
  background: var(--color-light-500);
  background: linear-gradient(180deg, var(--color-light-500) 50%, rgba(0, 0, 0, 0) 100%);
}
.site-header__inner {
  grid-column: full;
}
.site-header__inner {
  display: flex;
  height: 96px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
.site-header__logo svg {
  height: 48px;
  width: auto;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
  gap: 2rem;
}
.menu__link {
  color: var(--color-dark-400);
  font-size: 1.25rem;
}
.menu__link:hover {
  color: var(--color-accent-500);
}

.hamburger-menu {
  display: none;
  border: 0;
  background-color: transparent;
}
.hamburger-menu svg {
  width: 2rem;
  fill: var(--color-dark-400);
}

.responsive-menu {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 999;
  background-color: var(--color-light-500);
}
.responsive-menu .close-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 0;
  background-color: transparent;
}
.responsive-menu .close-menu svg {
  width: 2rem;
  fill: var(--color-dark-400);
}
.responsive-menu--open {
  display: flex;
}
.responsive-menu .menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1000;
  color: var(--color-dark-400);
}
.responsive-menu .menu__list {
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}
.site-footer {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin: var(--section-gap-inner) 0;
}
.site-footer__inner {
  grid-column: inner;
}
.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.site-footer__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.site-footer__content {
  max-width: 400px;
}
.site-footer__title {
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5rem;
}
.site-footer__text {
  margin: 0;
  margin-bottom: 3rem;
}
.site-footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.site-footer__link {
  font-size: 1.25rem;
  color: var(--color-dark-400);
}

.social__list {
  display: flex;
  gap: 1rem;
}

.copyright {
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .site-footer__info {
    flex-direction: column;
    gap: 3rem;
  }
}
.hero {
  display: grid;
  grid-template-columns: var(--grid-container);
  background-color: var(--color-light-500);
  padding: 7rem 0 var(--section-gap-inner) 0;
}
.hero__inner {
  grid-column: inner;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  max-width: 670px;
}
.hero__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.hero__text {
  margin: 0;
  margin-bottom: 3rem;
}
.hero__button {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
}
.hero__button:hover {
  background-color: var(--color-accent-400);
}
.hero__image img {
  height: auto;
  width: 438px;
}

@media screen and (max-width: 1024px) {
  .hero__content {
    max-width: 400px;
  }
}
@media screen and (max-width: 640px) {
  .hero__inner {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .hero__content {
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
.about {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin: var(--section-gap-inner) 0 var(--section-gap) 0;
}
.about__inner {
  grid-column: inner;
}
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7.5rem;
}
.about__image img {
  width: 438px;
  height: auto;
}
.about__content {
  max-width: 587px;
}
.about__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.about__text {
  margin: 0;
  margin-bottom: 3rem;
}
.about__button {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  width: fit-content;
}
.about__button:hover {
  background-color: var(--color-accent-400);
}

@media screen and (max-width: 1024px) {
  .about__inner {
    gap: 6rem;
  }
  .about__content {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .about__inner {
    flex-direction: column;
    gap: 3rem;
  }
  .about__content {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
.services {
  display: grid;
  grid-template-columns: var(--grid-container);
  margin-bottom: var(--section-gap-inner);
}
.services__inner {
  grid-column: inner;
}
.services__inner {
  display: flex;
  flex-direction: column;
}
.services__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.services__text {
  margin: 0;
  margin-bottom: 3rem;
}
.services__content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}
.services__button {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  width: fit-content;
}
.services__button:hover {
  background-color: var(--color-accent-400);
}

.service {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
.service div {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__title {
  margin: 0;
  font-weight: 400;
}
.service__background {
  position: absolute;
  z-index: -1;
}
.service__background img {
  height: 300px;
}
.service__text {
  margin: 0 3rem;
}

@media screen and (max-width: 1024px) {
  .services__inner {
    text-align: center;
  }
  .services__content {
    justify-content: center;
  }
}
.work {
  display: grid;
  grid-template-columns: var(--grid-container);
  background-color: var(--color-light-500);
  padding: var(--section-gap-inner) 0 var(--section-gap) 0;
}
.work__inner {
  grid-column: inner;
}
.work__inner {
  display: flex;
  flex-direction: column;
}
.work__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.work__text {
  margin: 0;
  margin-bottom: 3rem;
}
.work__content {
  position: relative;
  height: 600px;
}

.my-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.my-work:first-child {
  opacity: 1;
}
.my-work__image {
  max-width: 438px;
  width: 100%;
  position: relative;
}
.my-work__content {
  max-width: 589px;
}
.my-work__title {
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5rem;
}
.my-work__text {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .work__inner {
    gap: 6rem;
  }
  .my-work__content {
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .work {
    padding: var(--section-gap-inner) 0;
  }
  .work__inner {
    flex-direction: column;
    gap: 0;
  }
  .work__header {
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .work__content {
    height: 800px;
  }
  .my-work {
    flex-direction: column;
    gap: 3rem;
  }
  .my-work__content {
    text-align: center;
  }
}
.contact-form {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 0 0 var(--section-gap-inner) 0;
  background-color: var(--color-light-500);
}
.contact-form__inner {
  grid-column: inner;
}
.contact-form__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-form__content {
  max-width: 500px;
}
.contact-form__title {
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5rem;
}
.contact-form__image {
  max-width: 400px;
  height: auto;
}

.sumbit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

@media screen and (max-width: 1024px) {
  .contact-form__content {
    max-width: 400px;
    margin-right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contact-form__inner {
    flex-direction: column;
    gap: 3rem;
  }
  .contact-form__content {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
