:root {
  --font-serif: "Lora", serif;
  --font-sans: "Open Sans", sans-serif;
  --font-size: 16px;
  --font-scale: 1.25;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --font-size-small: calc( var(--font-size-1) / var(--font-scale));
  --line-height: 1.5;
  --color-light-400: #F8EDEB;
  --color-light-500: #F8C8C8;
  --color-dark-400: #170E08;
  --color-accent-400: #FCF9BE;
  --color-accent-500: #FFDCA9;
  --border-radius: 8px;
  --padding-content: 2rem;
  --section-gap: 10rem;
  --section-gap-inner: 4rem;
  --gap-content: 2rem;
  --gap-large: 1rem;
  --gap-small: 0.75rem;
  --inner-width: 71.5rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

html, body {
  font-family: var(--font-sans);
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

a {
  font-family: var(--font-sans);
  line-height: var(--line-height);
  text-decoration: none;
}

p {
  line-height: var(--line-height);
  font-size: 1.25rem;
}

blockquote {
  line-height: var(--line-height);
}

li {
  line-height: var(--line-height);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea, input:not([type=submit], [type=sheckbox], [type=radio]) {
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-secondary-400);
  border-radius: var(--border-radius);
  background-color: var(--color-primary-100);
  font-family: var(--font-sans);
  margin-bottom: var(--gap-large);
  font-size: var(--font-size-1);
  max-width: 100%;
  width: 100%;
}

input[type=submit] {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
}
input[type=submit]:hover {
  background-color: var(--color-accent-400);
}

.seperator {
  height: 32px;
  width: 100%;
  background-image: url(src/assets/images/section-seperator.png);
  background-repeat: repeat-x;
}
.seperator:nth-of-type(1) {
  transform: rotate(180deg);
}

.site-header {
  display: grid;
  grid-template-columns: var(--grid-container);
  position: fixed;
  width: 100%;
}
.site-header__inner {
  grid-column: full;
}
.site-header__inner {
  display: flex;
  height: 96px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
.site-header__logo svg {
  height: 48px;
  width: auto;
}

.menu__list {
  display: flex;
  gap: 2rem;
}
.menu__link {
  color: var(--color-dark-400);
  font-size: 1.25rem;
}
.menu__link:hover {
  color: var(--color-accent-500);
}

.hero {
  display: grid;
  grid-template-columns: var(--grid-container);
  background-color: var(--color-light-500);
  padding: var(--section-gap-inner);
}
.hero__inner {
  grid-column: inner;
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__content {
  max-width: 670px;
}
.hero__title {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.hero__text {
  margin: 0;
  margin-bottom: 3rem;
}
.hero__button {
  background-color: var(--color-light-500);
  color: var(--color-dark-400);
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: var(--font-serif);
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
  -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
}
.hero__button:hover {
  background-color: var(--color-accent-400);
}
.hero__image img {
  height: 540px;
  width: 438px;
}

/*# sourceMappingURL=style.css.map */
