@mixin default(
    $backgraund: var(--color-light-500),
    $background-hover: var(--color-accent-400),
    $color: var(--color-dark-400),
    $border-radius: var(--border-radius)
    ) {
    background-color: $backgraund;
    color: $color;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: var(--font-serif);
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    border: 2px solid transparent;
    border-radius: $border-radius;
    box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);
    -moz-box-shadow: 4px 4px 10px 0px rgba(248, 237, 235, 0.92), -1px -1px 10px 0px rgba(23, 14, 8, 0.22), 2px 4px 7px 0px inset rgba(248, 237, 235, 0.92), -2px -2px 10px 0px inset rgba(23, 14, 8, 0.22);

    &:hover {
        background-color: $background-hover;
    }
}
@mixin outline(
    $backgraund: transparent,
    $color: var(--color-accent-400),
    $border-radius: var(--border-radius),
    $border-color: var(--color-accent-400)
    ) {
        background-color: $backgraund;
        color: $color;
        padding: 1rem 2rem;
        text-decoration: none;
        font-family: var(--font-sans);
    display: inline-block;
    border: 2px solid $border-color;
    border-radius: $border-radius;
}