:root {

    --font-serif: "Lora", serif;
    --font-sans: "Open Sans", sans-serif;

    --font-size: 16px;
    --font-scale: 1.25;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
    --font-size-small: calc( var(--font-size-1) / var(--font-scale));

    --line-height: 1.5;

    --color-light-400: #F8EDEB;
    --color-light-500: #F8C8C8;

    --color-dark-400: #170E08;

    --color-accent-400: #FCF9BE;
    --color-accent-500: #FFDCA9;

    --border-radius: 8px;

    --padding-content: 2rem;

    --section-gap: 10rem;
    --section-gap-inner: 4rem;
    --gap-content: 2rem;
    --gap-large: 1rem;
    --gap-small: 0.75rem;

    --inner-width: 71.5rem;

    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--inner-width)) [inner-end] minmax(32px, 1fr) [full-end];


}