@use 'layout';

.site-header {
    @include layout.default(full);
    position: fixed;
    width: 100%;
    z-index: 998;
    background: var(--color-light-500);
    background: linear-gradient(180deg, var(--color-light-500) 50%, rgba(0,0,0,0) 100%);
    
    &__inner {
        display: flex;
        height: 96px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
        // background-color: var(--color-light-500);
    }

    &__logo {
        svg {
            height: 48px;
            width: auto;

        }    

    }


}